<h1>Sobre el comic</h1>
<hr>
<div>
    <p>Un cómic se define como una imagen o una secuencia de imágenes creadas para divertirse y mostrar una narración.
        Hay
        una amplia gama de ideas de un cómic. Tanto es así que es difícil obtener una respuesta definitiva a esa
        pregunta.
        Vamos a romper las cosas en piezas esenciales
        que encuentras en un cómic:
    </p>
    <ul>
        <li>Una imagen o una secuencia de imágenes, generalmente dibujada a mano o digitalmente.</li>
        <li>Una historia o mensaje en uno o más paneles.</li>
        <li>Uso de burbujas, subtítulos y onomatopeyas.</li>
        <li>Propósito de un breve humor o una breve narrativa.</li>
    </ul>
    <p id="centro">
        <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2014/04/24/13983228342123.jpg" id="img1">
    </p>
</div>