<h1>Como leer un comic</h1>
<h5>A continuacion se muestra una pequena introduccion para quienes nunca han leido un comic.</h5>
<hr>
<div>
    <p>
        1 - Lee las páginas de los cómics de izquierda a derecha, de arriba a abajo. Comienza con la viñeta en la parte superior, el área más a la izquierda de la página. Lee cada globo de diálogo de izquierda a derecha, comenzando por la viñeta situada más a la izquierda y luego lee cualquier diálogo que aparezca en la parte inferior o derecha de la viñeta.<br><br>
        2 - Pasa a la siguiente viñeta cuando llegues al lado derecho de la primera. La mayoría de las páginas de comics tienen dos o tres viñetas en la fila superior de la página. Así como leíste la primera viñeta, deberás leer de la misma manera todas las siguientes.<br><br>
        3 - Lee viñetas que estén apiladas una encima de la otra. Las viñetas están colocadas de esa manera porque están destinadas a mostrar dos acciones conectadas o piezas de diálogo. Estas viñetas generalmente se organizarán de forma diferente a las otras, y siempre interactuarán entre sí. Pueden inclinarse para mostrar una acción dinámica, o compartir un globo de diálogo o dos. Comienza con la viñeta que esté arriba, luego lee la viñeta que se encuentra debajo.<br><br>
        4 - Presta atención a las formas de los globos de diálogo. Los globos con formas diferentes indican diferentes formas de diálogo.<br><br>
    </p>
    <p id="centro">
        <img src="https://www.wikihow.com/images_en/thumb/d/dd/Read-Comics-Step-1.jpeg/v4-460px-Read-Comics-Step-1.jpeg" id="img1">
    </p>
</div>