@media (min-width: 992px) {
    .card-columns {
        column-count: 5;
    }
}

@media (max-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (max-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (max-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}